:root {
  --bg: #f5f7fb;
  --muted: #6b7280;
}

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  background: var(--bg);
}

a {
  color: inherit;
}
